.popup__title {
  color: #000;
  max-width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 34px 0 47px 36px;
  margin-left: 36px;
}

@media screen and (max-width: 580px) {
  .popup__title {
    font-size: 18px;
    margin: 25px 25px 75px;
  }
}
