.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
